.market-property-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f9f9f9;
}

/* Form layout */
.market-property-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.form-image img {
  width: 350px;
  height: auto;
}

.form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-fields h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.cancel-btn,
.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
}

.submit-btn {
  background-color: #A93339;
  color: white;
}

.submit-btn:hover {
  background-color: #A93339;
}

/* Additional buttons below the form */
.additional-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.action-btn {
  padding: 10px 30px;
  background-color: #A93339;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #A93339;
}

/* Social media icons */
.social-icons-container {
  position: absolute;
  top: -300px;
  right: 130%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: transparent;
}

.social-icon {
  margin: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* Social media colors */
.social-icon.whatsapp {
  color: #25D366;
}

.social-icon.facebook {
  color: #3b5998;
}

.social-icon.envelope {
  color: #D44638;
}

.social-icon.instagram {
  color: #C13584;
}

.social-icon.linkedin {
  color: #0077B5;
}

.social-icon.twitter {
  color: #1DA1F2;
}

.social-icon:hover {
  opacity: 0.7;
}

.action-btn-container {
  position: relative;
  display: inline-block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .market-property-form {
    width: 100%;
  }

  .form-content {
    flex-direction: column;
    align-items: center;
  }

  .form-image img {
    width: 180px;
    margin-bottom: 20px;
  }

  .form-fields h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .form-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .additional-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons-container {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .market-property-form {
    padding: 20px;
    width: 90%;
  }

  .form-fields h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .form-group input {
    font-size: 0.9rem;
  }

  .cancel-btn,
  .submit-btn {
    font-size: 0.9rem;
    padding: 10px;
  }
}
